/*--------Begin normalization stylesheet---------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: #818C9F;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/*-------End normalization stylesheet--------*/



html, body {
  height: 100%;
}

h1 {
  color: #818C9F;
  font-size: 3.5em;
	text-align: center;
	padding: 20px 0px 20px 0px;
}

h2 {
	text-align: center;
	font-size:  4em;
	padding-bottom: 20px;
	color: #B7001E;
	font-family: 'Kameron', serif;
}

p {
	font-family: 'Raleway', sans-serif;
	margin: 10px 0px 10px 0px;
	color: #242537;
	line-height: 125%;
}

article {
	margin: 50px;
	text-align: justify;
}

img {
  max-width: 100%;
  height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 4px solid #B7001E;
}

ul, menu {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

footer {
	text-align: center;
}

.top-menu li {
  margin-left: 0;
  padding: 10px 20px 10px 20px;
  display: inline-block;
  font-size: 1.50em;
}

a:link {
    color: #B7001E;
    text-decoration: none;
}

a:visited {
    color: #B7001E;
    text-decoration: none;
}

a:hover {
    color: #818C9F;
    text-decoration: none;
}

h2 a:hover {
	color: #242537;
}

#familypic {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
	box-sizing: border-box;
}

.hearts {
	display: table;
	height: 250px;
	width: 100%;
	background-color: #242537;
}

#heartshead {
	display: table-cell;
	vertical-align: middle;
	font-family: 'Kameron', serif;
}

.col-container {
  display: table;
	width: 100%;
}

.col {
  display: table-cell;
	table-layout: fixed;
	border: 1px solid #242537;
}

#menu {
	display: inline-block;
	background-color: #242537;
	font-family: 'Kameron', serif;
	text-align: center;
	vertical-align: center;
	width: 100%;
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

span {
	display: inline-block;
	color: #B7001E;
	animation-name: tada;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

.mini-hearts {
	display: inline-block;
	color: #B7001E;
	animation-name: tada;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

#left-container {
	background:
radial-gradient(circle closest-side at 60% 43%, #242537 26%, rgba(187,0,51,0) 27%),
radial-gradient(circle closest-side at 40% 43%, #242537 26%, rgba(187,0,51,0) 27%),
radial-gradient(circle closest-side at 40% 22%, #818C9F 45%, rgba(221,51,85,0) 46%),
radial-gradient(circle closest-side at 60% 22%, #818C9F 45%, rgba(221,51,85,0) 46%),
radial-gradient(circle closest-side at 50% 35%, #818C9F 30%, rgba(221,51,85,0) 31%),

radial-gradient(circle closest-side at 60% 43%, #242537 26%, rgba(187,0,51,0) 27%) 50px 50px,
radial-gradient(circle closest-side at 40% 43%, #242537 26%, rgba(187,0,51,0) 27%) 50px 50px,
radial-gradient(circle closest-side at 40% 22%, #818C9F 45%, rgba(221,51,85,0) 46%) 50px 50px,
radial-gradient(circle closest-side at 60% 22%, #818C9F 45%, rgba(221,51,85,0) 46%) 50px 50px,
radial-gradient(circle closest-side at 50% 35%, #818C9F 30%, rgba(221,51,85,0) 31%) 50px 50px;
  background-color: #242537;
  background-size:100px 100px;
	width: 25%;
}

#right-container {
	background:
radial-gradient(circle closest-side at 60% 43%, #242537 26%, rgba(187,0,51,0) 27%),
radial-gradient(circle closest-side at 40% 43%, #242537 26%, rgba(187,0,51,0) 27%),
radial-gradient(circle closest-side at 40% 22%, #818C9F 45%, rgba(221,51,85,0) 46%),
radial-gradient(circle closest-side at 60% 22%, #818C9F 45%, rgba(221,51,85,0) 46%),
radial-gradient(circle closest-side at 50% 35%, #818C9F 30%, rgba(221,51,85,0) 31%),

radial-gradient(circle closest-side at 60% 43%, #242537 26%, rgba(187,0,51,0) 27%) 50px 50px,
radial-gradient(circle closest-side at 40% 43%, #242537 26%, rgba(187,0,51,0) 27%) 50px 50px,
radial-gradient(circle closest-side at 40% 22%, #818C9F 45%, rgba(221,51,85,0) 46%) 50px 50px,
radial-gradient(circle closest-side at 60% 22%, #818C9F 45%, rgba(221,51,85,0) 46%) 50px 50px,
radial-gradient(circle closest-side at 50% 35%, #818C9F 30%, rgba(221,51,85,0) 31%) 50px 50px;
  background-color: #242537;
  background-size:100px 100px;
	width: 25%;
}

#familyinfo {
	background-color: #818C9F;
}
